* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  transform: scale(1.1);
  transition: 0.3s; }

ol, ul {
  list-style-type: none; }

button, input, textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer; }

.fas, input, svg {
  cursor: pointer; }

input:focus-within {
  outline: 1px solid transparent; }

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio"]:focus {
  outline: 1px solid #F16D7F;
  background: #ffffff;
  cursor: pointer; }

details > summary {
  list-style: none; }

summary, input {
  border: 0;
  outline: none; }

summary:hover {
  transition: 0.3s;
  cursor: pointer; }

summary::-webkit-details-marker {
  display: none; }

body {
  min-height: 100vh
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #222222; }

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
 } 
.header{
    background:#222222;
}
.header_wrap{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left, .header_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_left{
    gap: 41px;
}
.header_right{
    gap: 33px;
}
.baner{
   
    background: #F1E4E6;  
}
.baner_wrap{
    height: 100%;
    background: url(../img/foto-baner.png) no-repeat -220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 764px;
}
.baner_title{
   margin: 0 100px 91px 0;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   border-left: 12px solid #F16D7F;
   padding: 0 0 0 16px;
}
.baner_text{
    font-weight: 700;
   font-size: 32px;
   line-height: 39px;
}
.baner_text-dec{
   color: #F16D7F;

}
.text__top{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.catalog__top{
    display: flex;
    justify-content: space-between;
    margin-top: 65px
}
.catalog_text-dec{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.catalog__img{
  width: 100%;
}
.catalog__top1{
  position: relative;
}
.top1{
  position: absolute;
  top: 105px;
  left: 103px;
}
.catalog__top2{
  position: relative;
}
.top2{
  position: absolute;
  top: 105px;
  left: 103px;
}
.catalog__top3{
  position: relative;
}
.top3{
  position: absolute;
  top: 105px;
  left: 103px;
}
.catalog__bottom{
  position: relative; 
  margin-top: 30px; 
}
.catalog__bottom-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 65px;
  left: 490px;
}
.benefits{
  height: 341px;
  background: #222224;
}
.benefits__wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.disconts__img{
}
.denefits__header{
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
margin: 28px 0 16px 0 ;
}
.text__deliveri{
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.benefits__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
