* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  transition: 0.3s; }

ol, ul {
  list-style-type: none; }

button, input, textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer; }

.fas, input, svg {
  cursor: pointer; }

input:focus-within {
  outline: 1px solid transparent; }

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio"]:focus {
  outline: 1px solid #F16D7F;
  background: #ffffff;
  cursor: pointer; }

details > summary {
  list-style: none; }

summary, input {
  border: 0;
  outline: none; }

summary:hover {
  transition: 0.3s;
  cursor: pointer; }

summary::-webkit-details-marker {
  display: none; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #222222; }

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
 } 
.header{
    background:#222222;

}
.header_wrap{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_left, .header_right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.header_left{
    gap: 41px;

}
.header_right{
    gap: 33px;
    position: relative;
}
.burger__menu{
  background-color: transparent;
}
.cross{
  background-color: transparent; 
  margin-top: 16px;
  margin-left: 203px;
}
.burger__heading{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 34px;
  margin-top: 9px;
}
.menu__heading{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 24px;
  margin-left: 33px;
  margin-bottom: 12px;
}

.box__burger-menu{
    position: absolute;
    width: 232px;
    background: #ffffff;
}
.box__burger-menu1{
  position: absolute;
  width: 232px;
  background: #ffffff;
}
#box__burger-menu {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 1000px;
    top: 59px;
}


.menu__link{
display: block;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
padding-bottom: 6px;
padding-left: 54px;
}
.menu__link:hover{
  color: #f16d7f;
}
.baner{
    background: #F1E4E6;
}
.baner_wrap{
    height: 100%;
    background: url(../img/foto-baner.png) no-repeat -220px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 764px;
    

}
.baner_title{
   margin: 0 100px 91px 0;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   border-left: 12px solid #F16D7F;
   padding: 0 0 0 16px;
}
.baner_text{
    font-weight: 700;
   font-size: 32px;
   line-height: 39px;
}
.baner_text-dec{
   color: #F16D7F;
}




.box__product{
    margin-top: 96px;
}
.box__prod-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__product-heading{
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.box__item{
    margin-top: 48px;
}

.box__cart{
    background: #F8F8F8;
    width: 360px;
    margin-bottom: 30px;
}
.cart__text{
    padding: 20px;
}
.cart__header{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.cart__desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    margin-top: 12px;
}
.cart__praic{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.box__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box__link{
    display: block;
}
.box__pic{
    width: 100%;
}
.prod__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.box__link:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}





.text__top{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.catalog{
  margin-top: 65px
}
.catalog__top{
    display: flex;
    justify-content: space-between;
    
}
.catalog_text-dec{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.catalog__img{
  width: 100%;
}
.catalog__link:hover{
    box-shadow: 0 5px 8px rgba(0.16,0.16,0.16,0.16);
}
.catalog__top1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__heading{
  position: absolute;
}
.catalog__top2{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__top3{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__bottom{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px; 
}
.catalog__bottom-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  top: 65px;
  left: 490px;
}
.benefits{
  height: 341px;
  background: #222224;
  margin-top: 96px;
}
.benefits__wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.denefits__header{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0 16px 0 ;
}
.text__deliveri{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.benefits__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.form__top{
  height: 448px;
  background: url(../img/form__foto.png) center/cover no-repeat; 
}
.form__wrap{
  
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__right-text{
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.forma__text-dec{
    font-style: italic;
}
.form__left{
  display: flex;
  flex-direction: column;
  justify-content: end
}
.form__header{
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.form__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 30%;
  text-align: center;
  color: #222224;
}
.form{
  display: flex;
  position: relative;
  justify-content: end;
  margin-top: 32px;
}

.your__email{
  height: 49px;
  outline: none;
  border-radius: 49px ;
  padding: 0 122px 0 22px;
  background: #E1E1E1;
  border: 1px solid #E1E1E1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  width: 100%;
}
.button{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 49px;
  border: 1px solid #F16D7F;
  border-radius: 0 49px 49px 0;
  position: absolute;
  background: #f16d7f; 
  line-height:49px ;
}
.button:hover {
  background: #e05c6e;
  border: 1px solid transparent;
 
}
.footer__right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
 
.footer__bottom{
  height: 79px;
  background: #222224;
  display: flex;
}
.copi{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #222222;
  background: #ffffff;
}
.footer__bottom-img:hover svg path {
  background: #f16d7f;
  border: 1px solid #f16d7f;

}
.footer__bottom-img:hover svg {
  fill: #f16d7f;
} 
.mega__box{
  background-color: #ffffff;
}
.mega__box-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 37px;
    margin-left: 34px;
}
.mega__item-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 24px;
    margin-left: 33px;
}
.mega__link{
    display: block;
}




.catalog__menu{
  background: #F8F3F4;
  height: 148px;
}
.catalog__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.catalog__box-heading{
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  color: #F16D7F;
}
.breadcrumb li+li:before {
  color: #636363;
  content: "/\00a0";
}  
.breadcrumb {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li+li:before {
  color: #636363;
  content: "/\00a0";
}

.breadcrumb li a:hover {
  color: #F16D7F;
}
.breadcrumb__link1{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;

}







