* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  transition: 0.3s; }

ol, ul {
  list-style-type: none; }

button, input, textarea {
  line-height: normal;
  text-transform: none;
  cursor: pointer; }

summary::-webkit-details-marker {
  display: none;
}


.fas, input, svg {
  cursor: pointer; }

input:focus-within {
  outline: 1px solid transparent; }

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio1"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio1"]:focus {
  outline: 1px solid #F16D7F;
  background: #ffffff;
  cursor: pointer; }

details > summary {
  list-style: none; }

summary, input {
  border: 0;
  outline: none; }

summary:hover {
  transition: 0.3s;
  cursor: pointer; }

summary::-webkit-details-marker {
  display: none; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #222222; }

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
 } 
.header{
    background:#222222;

}
.header_wrap{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_left, .header_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_left{
    gap: 41px;
}
.header_right{
    gap: 33px;
    position: relative;
}
.burger__menu{
  background-color: transparent;
}
.cross{
  background-color: transparent; 
  margin-top: 16px;
  margin-left: 203px;
}
.burger__heading{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 34px;
  margin-top: 9px;
}
.menu__heading{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 24px;
  margin-left: 33px;
  margin-bottom: 12px;
}

.box__burger-menu{
    position: absolute;
    width: 232px;
    background: #ffffff;
}
.box__burger-menu1{
  position: absolute;
  width: 232px;
  background: #ffffff;
}
#box__burger-menu {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 1000px;
    top: 59px;
}
.box__bur-menu{
  background: white;
  width: 232px;
}
.menu__link{
display: block;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
padding-bottom: 6px;
padding-left: 54px;
}
.menu__link:hover{
  color: #f16d7f;
}
.baner{
    background: #F1E4E6;

}
.baner_wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baner__img{
  display: flex;
}
.baner_title{
   margin: 0 100px 91px 0;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   border-left: 12px solid #F16D7F;
   padding: 0 0 0 16px;
}
.baner_text{
    font-weight: 700;
   font-size: 32px;
   line-height: 39px;
}
.baner_text-dec{
   color: #F16D7F;
}
.box__product{
    margin-top: 96px;
}
.box__prod-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-bottom: 48px;
}
.box__product-heading{
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.box__cart{
  position: relative;
    background: #F8F8F8;
    width: 360px;
    margin-bottom: 30px;
}
.add{
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  padding: 8px;
  pointer-events: all;
}
.cart__text{
    padding: 20px;
}
.cart__header{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.cart__desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    margin-top: 12px;
}
.cart__praic{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.box__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box__link{
    display: block;
}
.box__pic{
    width: 100%;
}
.prod__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.add__txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}
.add__dox{
  display: none;
  position: absolute;
  padding: 9px;
  top: 188px;
  width: 100%;
  justify-content: center;
  pointer-events: none;
}
.box__link:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.box__cart:hover .box__pic{
  filter: brightness(30%);
}
.add:hover{
  box-shadow: 0 0 10px #FFFFFF;
}
.box__cart:hover .add__dox{
  display: flex;
}
.text__top{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.catalog{
  margin-top: 65px
}
.catalog__top{
    display: flex;
    justify-content: space-between;
    
}
.catalog_text-dec{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.catalog__img{
  width: 100%;
}
.catalog__link:hover{
    box-shadow: 0 5px 8px rgba(0.16,0.16,0.16,0.16);
}
.catalog__top1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__heading{
  position: absolute;
}
.catalog__top2{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__top3{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__bottom{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 30px; 
}
.catalog__bottom-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  top: 65px;
  left: 490px;
}
.benefits{
  height: 341px;
  background: #222224;
}
.benefits__wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.denefits__header{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0 16px 0 ;
}
.text__deliveri{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.benefits__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__top{
  height: 448px;
  background: url(../img/form__foto.png) center/cover no-repeat; 
}
.form__wrap{
  
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__right-text{
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.forma__text-dec{
    font-style: italic;
}
.form__left{
  display: flex;
  flex-direction: column;
  justify-content: end
}
.form__header{
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.form__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 30%;
  text-align: center;
  color: #222224;
}
.form{
  display: flex;
  position: relative;
  justify-content: end;
  margin-top: 32px;
}

.your__email{
  height: 49px;
  outline: none;
  border-radius: 49px ;
  padding: 0 122px 0 22px;
  background: #E1E1E1;
  border: 1px solid #E1E1E1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  width: 100%;
}
.button{
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  width: 100px;
  height: 49px;
  border: 1px solid #F16D7F;
  border-radius: 0 49px 49px 0;
  position: absolute;
  background: #f16d7f; 
  line-height:49px ;
}
.button:hover {
  background: #e05c6e;
  border: 1px solid transparent;
}
.browse{
    margin-top: 18px;
}
.browse__box{
    display: flex;
    justify-content: center;
}
.browse__button{
    display: flex;
    border: 1px solid #F26376;
    background: #F26376;
}
.browse__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px 38px;
}
.browse__button:hover{
  background: #FFFFFF;
    box-shadow: 0 5px 8px rgba(0.16,0.16,0.16,0.16);
}
.browse__button:hover .browse__text{
  color: #F26376;
}
.footer__right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer__bottom{
  height: 79px;
  background: #222224;
  display: flex;
}
.copi{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #222222;
  background: #ffffff;
}
.footer__bottom-img:hover svg path {
  background: #f16d7f;
  border: 1px solid #f16d7f;

}
.footer__bottom-img:hover svg {
  fill: #f16d7f;
} 
.mega__box{
  background-color: #ffffff;
}
.mega__box-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 37px;
    margin-left: 34px;
}
.mega__item-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 24px;
    margin-left: 33px;
}
.mega__link{
    display: block;
}
.catalog__menu{
  background: #F8F3F4;
  height: 148px;
}
.catalog__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.catalog__box-heading{
  font-weight: 400;
  line-height: 29px;
  font-size: 24px;
  color: #F16D7F;
}
.breadcrumb__link-txt{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb li+li:before {
  color: #636363;
  content: "/\00a0";
}  
.breadcrumb {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li+li:before {
  color: #636363;
  content: "/\00a0";
}
.breadcrumb li a:hover {
  color: #F16D7F;
}
.breadcrumb__link1{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.slideshow__box{
  height: 776px;
  background: #F7F7F7;
}
.slideshow__box-img{
  display: flex;
  justify-content: center;
}
.slideshow__img1{
  margin-top: 11px;
  margin-bottom: 42px;
}
.slideshow__but{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 75%;
}
.prev {
    color: #000000;
    font-size: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
}
.next{
    color: #000000;
    font-size: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
}
.prev:hover, .next:hover{
    color: #F16D7F
}
.info__box {
    height: 550px;
    background: #FFFFFF;
    justify-content: center;
    display: flex;
    position: relative;
}
.info__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    background: #FFFFFF;
    position: absolute;
    top: -50px;
}
.heading__info1{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 64px;
    margin-bottom: 12px;
}
.heading__info2{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
    margin-bottom: 48px;
}
.info__txt{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 32px;
}
.info__price{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-bottom: 65px;
}
.product__catalog{
    border: #FFFFFF;
    margin-bottom: 128px;
    margin-top: 129px;
}
.product__box{
    display: flex;
    justify-content: space-between;
}
.info__bottom{
  border-top: 1px solid #EAEAEA;
  width: 641px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 42px;
}
summary{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
details{
  margin-top: 65px;
  margin-bottom: 49px;
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25B7';
  padding-right: 0.5em;
  padding-left: 9px;
}

details[open] > summary::after {
  color: #EF5B70;
  content: '\25BD';
  padding-left: 9px;
}






  .but__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}
.info__bottom-but{
  display: flex;
  align-items: center;
  gap: 23px;
 padding: 15px 56px 9px 23px;
}
.browse__button{
  margin-bottom: 65px;
}




.catalog__nav{
background: #FFFFFF;
}
.pagination__wrap{
  display: flex;
  justify-content: center;
}
.pagination{
  border: 1px solid #EBEBEB;
  height: 43px;
  width: 283px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pagination__a-left, .pagination__a-right {
  color: #222222;
  float: left;
  padding: 9px 9px;
}
.pagination__a{
  float: left;
  padding: 9px 9px;
  color: #EBEBEB;
}
.pagination__a:hover{
  color: #EF5B70;
}
.pagination__a-left:hover{
  color: #EF5B70;
}
.pagination__a-right:hover{
  color: #EF5B70;
}
.cart__menu{
  height: 148px;
  background: #F8F3F4;
}
.shopping{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.cart__menu-flex{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.registration__box{
  background: #FFFFFF;
  margin-bottom: 97px;
  margin-top: 64px;
}
.registration__flex{
  display: flex;
}
.registration__heading{
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}
.registration__infa-txt{
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
padding-bottom: 21px;
}
.registration__name{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 25px;
}

.txt__name{
  border: 1px solid #A4A4A4;
  width: 359px;
  height: 44px;
  padding-left: 17px;
  margin-bottom: 21px;
}
.txt__name:focus{
  border: none;
}
.txt__name:hover{
  border: none;
}
.email:focus{
  border: none;
}
.email:hover{
  border: none;
}
.password:focus{
  border: none;
}
.password:hover{
  border: none;
}
.gender{
  margin-right: 10px;
}
.gender2{
  margin-right: 10px;
  margin-left: 20px;
}
.login{
  margin-top: 33px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.email{
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  margin-bottom: 21px;
  width: 359px;
  height: 44px;
}
.password{
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
  margin-bottom: 21px;
  width: 359px;
  height: 44px;
}
.login__txt{
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-bottom: 39px;
  width: 94%;
}
.info__li{
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}
.reg__button{
  display: flex;
  border: 1px solid #F16D7F;
  background: #F16D7F;
}
.reg__botton-but{
  display: flex;
  padding-right: 24px;
}
.bot__txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 20px 17px 29px;
}
.registration__infa{
  margin-left: 128px;
}
&rsaquo{
  width: 10px;
  height: 5px;
  color: #EF5B70;
}


.catalog__nav{
  height: 133px;
  z-index: 100;
}


.nav__flex{
  margin-top: 39px;
  margin-left: 10px;
  display: flex;
}

.filter{
  width: 360px;
  background: #FFFFFF;
}
#filter__box{
  margin-top: 0px;
  margin-bottom: 0px;
}
#filter{
  padding-top: 13px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: #FFFFFF;
  padding-bottom: 16px;
}

summary#filter::after {
  content: '\2261';
  padding-left: 11px;
}
details[open] > summary#filter::after {
  color: #EF5B70;
  content: '\2261';
  padding-left: 9px;
}
#category__box{
  margin-top: 0;
  margin-bottom: 0;
}
#category{
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  width: 327px;
  height: 37px;
  line-height: 37px;
  padding-left: 11px;
  margin-bottom: 24px;
  margin-left: 16px;
}
summary#category::after{
  content: none;
}
.catalog__txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 11px;
  margin-left: 33px;
}
#brand__box{
  margin-top: 13px;
  margin-bottom: 0;
}
#brand{
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  width: 327px;
  height: 37px;
  line-height: 37px;
  padding-left: 11px;
  margin-bottom: 18px;
  margin-left: 16px;
}
summary#brand::after{
  content: none;
}
#designer__box{
  margin-top: 13px;
  margin-bottom: 0px;
}
#designer{
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  width: 327px;
  height: 37px;
  line-height: 37px;
  padding-left: 11px;
  margin-bottom: 18px;
  margin-left: 16px;
}
summary#designer::after{
  content: none;
}
.filter:hover{
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.16);
}
#trending{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
#size{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
#price{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.trending{
  margin-left: 30px;
}
#trending__box{
  margin-bottom: 0;
  margin-top: 0;
}
#size{
  margin-left: 28px;
  margin-right: 28px;
}
#size__box{
  margin-top: 0;
  margin-bottom: 0;
}
#price__box{
  margin-top: 0;
  margin-bottom: 0;
}
.form__size{
  height: 109px;
  width: 79px;
  background: #FFFFFF;
  border: 1px solid #ffffff;
  box-shadow: 5px 0 8px rgb(0 0 0 / 16%);
  margin-top: 5px;
}
.filter__right{
  display: flex;
  margin-top: 10px;
}
.size{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-left: 9px;

}
.size__checkbox{
  margin-left: 9px;
  margin-top: 9px;
}



.cart{
  margin-top: 96px;
}
.cart__top{
  display: flex;
  height: 306px;
  box-shadow: 6px 6px 8px rgb(0 0 0 / 16%);
  margin-bottom: 40px;
}
.cart1__heading{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 68%;
}
.cart1__txt{
  display: flex;
  padding-left: 31px;
  justify-content: space-between;
  padding-top: 28px;
  padding-right: 22px;
  max-width: 390px;
  margin-bottom: 42px;
}
.mark{
  color: #000000;
}
.price{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 31px;
}
.color{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 32px;
}
.size__cart{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 32px;
}
.quantity__box{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 32px;
}
.quantity{
  border: 1px solid #575757;
  width: 40px;
  margin-left: 24px;
}
.adress{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.cart__right{

}
.cart__flex{
  display: flex;

  justify-content: space-between;
}
.city{
  border: 1px solid #A4A4A4;
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.city:focus{
  border: none;
}
.city:hover{
  border: none;
}
.cart__bottom-wrap{
  background: #F5F3F3;
}
.cart__sudmit{
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 100px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #A4A4A4;
  margin-bottom: 57px;
  margin-top: 4px;
}
.cart__right-bottom{
  height: 214px;
  margin-top: 57px;
}
.total{
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  padding-left: 219px;
}
.grand{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  padding-left: 153px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 21px;
}
.button__cart{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 50px;
  border: 1px solid #EF5B70;
  background: #EF5B70;
  margin-top: 17px;
  margin-bottom: 42px;
  padding: 15px 42px;
}
.button__wrap{
  display: flex;
  justify-content: space-around;
}
.cart__button-flex{
  display: flex;
  justify-content: space-between;
}
.cart__left-button{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  height: 50px;
  border: 1px solid #4A4A4A;
  background: #FFFFFF;
  padding: 16px 39px;
  margin-top: 32px;
  margin-bottom: 128px;
}