/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v22-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v22-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v22-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v22-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/lato-v22-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v22-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    height: 75px; ;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 98.04%;
    background: #222222;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header_menu{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left, .header_right{
    display: flex;
    justify-content: center;
}
#logo {
    margin-right: 20px;
}
#lupa {
   margin-top: 10px;
   margin-left: 41px;
}
#profile {
    margin-top: 6px;
    margin-left: 33px;
    margin-right: 33px;
}
#menu {
    margin-top: 11px;
}
.baner{
    height: 764px;
    background: #F1E4E6;
    margin-top: 75px;
}
.baner_flex{
 display: flex;
   justify-content: flex-end; 
}
  